body {
    background-color: tomato;
}

@media screen and (min-width: 576px) {
    body {
        background-color: turquoise;
    }
}  
    @media screen and (min-width: 950px) {
        body{
            background-color: red;
        }
    
        
    }
        
    ]